@import url(Styles/header.css);
@import url(Styles/cabecalho.css);
@import url(Styles/metricas.css);
@import url(Styles/vagas.css);

:root {
	--marrom: #8E2424;
	--branco: #FFFFFF;
	--cinza: #667085;
	--vermelho: #8E2424;
	--vermelho-secundario: #8E24240D;
	--preto: #101828;
	--fonte-principal: "Inter", sans-serif;
}

* {
     padding: 0;
     margin: 0;
}



