@import url(Styles/header.css);
@import url(Styles/cabecalho.css);
@import url(Styles/metricas.css);
@import url(Styles/vagas.css);
@import url(Styles/depoimento.css);
@import url(Styles/footer.css);


:root {
	--marrom: #8E2424;
	--branco: #FFFFFF;
	--cinza: #667085;
	--cinza-secundario: #EAECF0;
	--vermelho: #8E2424;
	--vermelho-secundario: #8E24240D;
	--preto: #101828;
	--fonte-principal: "Inter", sans-serif;
}

* { 
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: var(--fonte-principal);
}

body {
	width: 100%;
	height: 100vh;
	overflow: auto;
	scrollbar-width: none;
}

::-webkit-scrollbar {
	background: none;
}

@-moz-document url-prefix() {
	html {
		scrollbar-width: none;
	}
}
