.cabecalho {
	text-align: center;
	padding: 6em 20.25em;
}

.cabecalho span {
	color: var(--vermelho);
	font-size: 1em;
	margin-bottom: 1.5em;
	font-family: var(--fonte-principal);
	font-weight: 500; 
}

h1 {
	font-size: 3em;
	margin-bottom: 1.5em;
	font-family: var(--fonte-principal);
	font-weight: 500;
}

.cabecalho p {
	color: var(--cinza);
	font-size: 1.25em;
	font-family: var(--fonte-principal);
	font-weight: 400;
}
