header {
	display: flex;
	margin: 1.125em 5em;
	font-family: var(--fonte-principal);
}

.paginas, .header-login, .logo{
	display: flex;
}

.logo {
	margin: 0.53125em 7.4375em 0.53125em 2em;
}

.logo p {
	margin: 0.09375em 0 0.09375em 0.5em;
	font-weight: 500;
	font-size: 1.125em;
}

.paginas {
	margin: 0.375em 23.75em 0.375em 0;

}

.paginas__item {
	margin: 0.25em 2em 0.25em 0;
	list-style: none;
	text-decoration: none;
	font-weight: 500;
	font-size: 1em;
	color: var(--cinza);
}

.header-login {
	justify-content: space-around;
}

.header-login__link {
	text-decoration: none;
	padding: 0.625em 1.125em;
	font-size: 1em;
	font-weight: 500;
	color: var(--cinza);
}

.botao {
	border: 0.0625em solid black;
	background-color: var(--marrom);
	color: var(--branco);
	border-radius: 0.625em;
	padding: 0.625em 1.125em;

}

